.counter-container{
  background-color:#fff;
  padding: 2rem 3rem;
  border-radius:1rem;
  box-shadow: 0px 1px 25px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.counter-container h1{
  margin-bottom:1rem;
  color:#333;
}

.count_display{
  font-size: 4rem;
  font-weight:bolder;
  margin: 1rem 0;
  color:#4a4a4a;
}

.button_group{
display:flex;
gap:1rem;
justify-content:center;
}

.btn{
  padding:0.8rem 1rem;
  font-size:1.2rem;
  outline:none;
  border:none;
  border-radius: 0.5rem;
  cursor:pointer;
  color:#fff;
  transition:all 0.2 ease-in-out;
}

.decrement{
background-color:#f44336;
}

.increment{
background-color: #4caf50;
}

.reset{
background-color: #2196f3;
}

.btn:hover{
  transform:(1.05);
  opacity:0.9;

}